.logo{
  width: 60px;
  margin-left: 20px;
}

.header{
  padding-top: 10px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.button{
  display: inline-block;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.button.add-hot-dog{
  float:right;
  margin-right: 20px;
}

.body-title{
  margin-left: 20px;
  margin-top: 20px;
}

.one-hot-dog ul{
  list-style-type: none;
  padding:0;
}

.one-hot-dog{
  display: inline-block;
  max-width: 260px;
  margin: 20px;
}

.list{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.one-hot-dog img{
  width: 260px;
}

.one-hot-dog .title{
  margin: 10px;
  font-size: 14px;
  font-weight: 700;
}

.one-hot-dog .price{
  font-size: 14px;
  color:grey;
  margin-left: 10px;
}

.one-hot-dog .body{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}

.button-edit{
  text-align: center;
  background: #eee;
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}